@model CarRental.Models.ViewModels.AddCarViewModel
@{
    ViewData["Title"] = "Confirm add";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css//bootstrap-morph.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/datepicker.css" />

</head>

<div>
    <h1>
        Add new car
    </h1>
</div>

<body>
    <form method="post">
        <div class="form-group">
            <label class=" form-label text-dark">Brand</label>
            <input asp-for="brand" class="form-control" />
            <span asp-validation-for="brand" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class=" form-label text-dark">Model</label>
            <input asp-for="model" class="form-control" />
            <span asp-validation-for="model" class="text-danger"></span>
         </div>

        <div class="form-group">
            <label class=" form-label text-dark">Price</label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>

         </div>

        <div>
            <label class=" form-label text-dark">Fabrication Date </label>
            <input asp-for="date" class="form-control datepicker-dropdown" name="fabricationDate" />
            <span asp-validation-for="date" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Add" asp-action="ConfirmAdd">Rent Car</button>
    </form>
</body>

