<!DOCTYPE html>
@model CarRental.Models.ViewModels.AddCarViewModel
@{
    ViewData["Title"] = "Add car page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css//bootstrap-morph.css" />
</head>
 <h1>
     Add new car
 </h1>
 <body>
     <div class="form-group">
         <a class="btn btn-primary" asp-area="" asp-controller="AdminCar" asp-action="AddCar">Add Car</a>
     </div>
 </body>