@model CarRental.Models.Car
@{
    ViewData["Title"] = "titlle";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css//bootstrap-morph.css" />
</head>

<div>
    <h1>
        Car Rentail
    </h1>
</div>

<div class="form-group"
        <label class=" form-label">Customer Name</label>
        <select class="form-control" id="customername" name="customername" placeholder="Customer Name" required>
            <option>Please Select</option>
        </select>
    </div>

<div class="form-group"
        <label class=" form-label">Email</label>
        <select class="form-control" id="Email" name="Email" placeholder="Email" required>
            <option>Please Select</option>
        </select>
    </div>

<div class="form-group"
        <label class=" form-label">Start Date</label>
        <select class="form-control" id="Start Date" name="Start Date" placeholder="Start Date" required>
            <option>Please Select</option>
        </select>
    </div>

<div class="form-group"
        <label class=" form-label">End Date</label>
        <select class="form-control" id="End Date" name="End Date" placeholder="End Date" required>
            <option>Please Select</option>
        </select>
    </div>


<input type="submit" value="Send rental" name="allertMessage" id="SendRental" />




