@model CarRental.Models.ViewModels.RentViewModel
@{
    ViewData["Title"] = "Rent";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css//bootstrap-morph.css" />
</head>

<div>
    <h1>
        Car Rentail
    </h1>
</div>
<body>
    <form method="post">
        <div class="form-group">
            <label class="form-label text-black fw-bold">Selected item:</label>
        </div>
        <div class="form-group">
            <label class="form-label text-dark">Brand: @ViewBag.carBrand</label>
        </div>
        <div class="form-group">
            <label class="form-label text-dark">Model: @ViewBag.carModel</label>
        </div>
        <div class="form-group">
            <img style="max-width:250px;max-height:150px" src="@ViewBag.carPhoto" />
        </div>
        <div class="form-group">
            <label class=" form-label text-dark">First Name</label>
            <input asp-for="clientFirstName" class="form-control" />
            <span asp-validation-for="clientFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class=" form-label text-dark">Last Name</label>
            <input asp-for="clientLastName" class="form-control" />
            <span asp-validation-for="clientFirstName" class="text-danger"></span>
        </div>
        <button type="submit" asp-controller="Rent" asp-action="PlaceOrder">Rent Car</button>
    </form>
</body>