@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Viper</h1>
    <img src="~/images/dodgeViper.jpg" alt="Sample Photo" height="500" width="800" />
    <p>&copy; Car rental company</p>
</div>
