@model CarRental.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <div class="text-center">
            <h1 class="display-4">Welcome to Viper</h1>
            <p>&copy; Car rental company </p>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/lib/bootstrap/css//bootstrap-morph.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            @if (ViewData["ok"] != null)
            {
                <p>User:@ViewData["User"]</p>
            }
    </div>
    <style>
   
</head>
<body>
</body>
</html>


