@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Viper</h1>
    <img src="https://www.tuningblog.eu/wp-content/uploads/2020/02/Dodge-Viper-Mittelmotor-Tuning-2021-2.jpg" alt="Sample Photo" />
    <p>&copy; Car rental company</p>
</div>
